body{
  background: rgb(34,193,195);
  background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(163,253,45,1) 100%);
  align-content: center;
  height: 100%;
}


.title{
  text-align: center;
  align-content: center;
}


.title >b{
  font-size: 50px;
}

.container {
    display: grid;
    height: 500px;
    justify-content: center;
    grid-template-columns:  150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    align-content: center;
    text-align: center;

  }
  .container >div {

    margin: 5px;
    background: rgb(220,240,236);
    background: radial-gradient(circle, rgba(220,240,236,1) 38%, rgba(138,31,0,1) 100%);

    border: 2px solid #000;
    text-align: center;
  }



  .box{
    text-align: center;
  }

  .box:hover{
    background: rgb(220,240,236);
    background: radial-gradient(circle, rgba(220,240,236,1) 38%, rgba(138,133,0,1) 100%);
  }
  
  .ot{
    text-align: center;
    align-content: center;

}
